html {
  font-size: 100%
}

p {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.navigation{
  list-style: none;
  background: gray;
  margin:0;
  padding: 0;
  display: flex;
  flex-flow:column;
}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

img {
  width: 100%;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}

.header {
  background: lightyellow;
  font-size: 1.5rem;
}

.footer {
  background: gray;
  color: white;
  font-size: 0.8em;
}

.main {
  background: lightgreen;
}

.aside-1 {
  background: lightblue;
}

.aside-2 {
  background: lightpink;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.main {
  text-align: left
}

@media (min-width: 700px){
    .navigation {
      flex-flow: row;
      justify-content: flex-end;
  }
    .navigation a:hover {
      background: lightgreen;
    }
    .aside {
      flex: 1 auto;
    }
    .main {
      flex: 3 0px;
    }
    .aside-1{
      order:1;
    }
    .main{
      order: 2;
    }
    .aside-2{
      order: 3;
    }
    .footer{
      order: 4;
    }
    .main {
      display: flex;
      flex-flow: row;
    }
    img {
      width: 50%;
      height: 75%;
      margin-right: 10px;
    }
    .navigation a {
      border: none;
    }
    a img {
      border: 0;
    }
}
