body {
  font-family: "Georgia", serif;
}

h1{
  text-align: center;
}

nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

nav ul li:last-child{
  border-bottom: none;
}

nav a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: bold;
    text-align: center;
}

header {
    display: flex;
    flex-flow: column;
    background-color: #A7Db8C;
    color: #333;
    margin: 0;
    padding: 0 10px;
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

img {
  width: 100%;
}

a img {
  border: 0;
}

#header, #nav, #footer, h1, h2, h3{
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

#header .inner{
  background: #A3A3A3;
  padding:10px;
}

#content .inner{
  background: #E0E4B9;
  padding:10px;
}

#sidebar .inner{
  background: #A7DBD8;
  color: white;
  padding: 10px;
  text-align: center;
}

#sidebar2 .inner{
  background: #FFDBD8;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

#sidebar3 .inner{
  background: #508AD4;
  color: white;
  padding: 10px;
  text-align: center;
}

#sidebar3 .inner a{
  text-decoration: none;
  color: #fff;
}

#footer{
  background: #A3A3A3;
  color:white;
  padding:10px;
  font-size:0.6em;
  text-align:right;
}

@media screen and (min-width: 600px){

    p{
    width: 90%;
    margin: 1em auto;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        border-bottom: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

    nav a:hover {
      background:#A3A3A3;
    }

    #pageBody{
      display:flex;
      flex-flow:row;
    }

    #content{
      flex:2 auto;
    }

    #sidebar .inner{
      flex:1 auto;
      margin: 10px;
      display: block;
    }

    #footer{
    align-self:flex-end;
    flex:3 auto;
    }

    a img {
      border: 0;
    }

}
